In [1]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras import utils
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('clean_data.csv')
data

,Rate,Type_encoder,Episodes_encoder,Length_encoder,Age_limit_map,Studio_encoder,Author_encoder,Сёнен,Сёнен-ай,Сэйнэн,...,Ужасы,Фантастика,Фэнтези,Экшен,Этти,Триллер,Эротика,Хентай,Яой,Юри
0,9.10,2,149,107,2,95,628,1,0,0,...,0,0,1,1,0,0,0,0,0,0
1,9.07,2,85,107,0,728,638,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,9.06,2,24,107,2,506,2903,1,0,0,...,0,0,1,1,0,0,0,0,0,0
3,9.06,2,133,107,0,77,522,1,0,0,...,0,1,0,1,0,0,0,0,0,0
4,9.05,2,0,106,2,729,455,1,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12816,2.39,4,186,146,3,770,1149,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12817,2.32,0,186,150,2,770,2747,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12818,2.22,1,186,70,2,725,3279,0,0,0,...,1,1,0,0,0,0,0,0,0,0
12819,1.98,1,186,113,3,770,2704,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12820,1.85,1,186,70,0,419,3279,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
model = Sequential()